<link rel="stylesheet" type="text/css" href="css/about.css">

<div class="wrapper">
	<h1 class="about-title">Views of<br> New York</h1>
	<h2 class="about-title2">What is it all about ?</h2>
	<hr>
	<p class="about-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id massa malesuada, sagittis felis et, congue erat. Vivamus posuere nunc quis odio vulputate vulputate. Phasellus malesuada quam ut ipsum hendrerit, a luctus leo finibus. Aliquam hendrerit mi magna, porttitor pretium turpis gravida quis.</p>
	<ul class="about-list nb-5">
		<li>
			<div class="img-container">
				<img src="../img/doge.jpg">
			</div>
			<h3 class="about-name">Mr.Doge</h3>
			<p class="about-job">Comic Sans Ms</p>
			<a href="#" class="about-link">Flickr</a>
		</li>
		<li>
			<div class="img-container">
				<img src="../img/doge.jpg">
			</div>
			<h3 class="about-name">Mr.Doge</h3>
			<p class="about-job">Comic Sans Ms</p>
			<a href="#" class="about-link">Flickr</a>
		</li>
		<li>
			<div class="img-container">
				<img src="../img/doge.jpg">
			</div>
			<h3 class="about-name">Mr.Doge</h3>
			<p class="about-job">Comic Sans Ms</p>
			<a href="#" class="about-link">Flickr</a>
		</li>
		<li>
			<div class="img-container">
				<img src="../img/doge.jpg">
			</div>
			<h3 class="about-name">Mr.Doge</h3>
			<p class="about-job">Comic Sans Ms</p>
			<a href="#" class="about-link">Flickr</a>
		</li>
		<li>
			<div class="img-container">
				<img src="../img/doge.jpg">
			</div>
			<h3 class="about-name">Mr.Doge</h3>
			<p class="about-job">Comic Sans Ms</p>
			<a href="#" class="about-link">Flickr</a>
		</li>
	</ul>
</div>
<footer class="footer">
	<ul>
		<li>
			<a href="#" class="about-social">
				<img src="../img/about-fb-whi-m.png">
			</a>
		</li>
		<li>
			<a href="#" class="about-social">
				<img src="../img/about-twitter-whi-m.png">
			</a>
		</li>
		<li>
			<a href="#" class="about-social">
				<img src="../img/about-pinterest-whi-m.png">
			</a>
		</li>
	</ul>
</footer>
