<div id="loginContainer" ng-style="{'height':'{{screenHeight}}px'}">

	<center>
		<img src="../img/login/logo.png" id="logo">
		<div id="description">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sapien tellus, pharetra eget dolor et, pharetra elementum massa. Phasellus sit amet iaculis massa.
		</div>

	    <div class="button" id="login" >
	    	<a ng-href="{{loginUrl}}">Connect with Flickr</a>
	    </div>
	    <div class="button" id="beta">
	    	<a ng-href="{{loginUrl}}">Ask for beta access</a>
	    </div>
	    
    </center>
</div>

<link rel="stylesheet" type="text/css" href="css/login.css">